1. Write a program to find sum of all elements in a list of integers.

In [3]:
list1 = [10,20,30,40,50,60]
print (sum(list1))

210

2. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [16]:
str1 = input("Enter a String")
length = len(str1)
print ("Length of the String is", length)

Enter a String Hello, Welcome to the world of Python !
Length of the String is 40

In [29]:


print (str1[ :len(str1)//2])

 Hello, Welcome to t

In [19]:
t1 = (78,45,32,19,82,77,40,39)
type (t1)

tuple

In [20]:
list1 = list (t1)

In [21]:
type (list1)

list

In [23]:
list1[2] = 100

In [24]:
print (list1)

[78, 45, 100, 19, 82, 77, 40, 39]

In [25]:
t1 = tuple(list1)

In [26]:
print (t1)
type (t1)

(78, 45, 100, 19, 82, 77, 40, 39)

tuple

3 . Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

a. Delete the first occurrence of 32

In [27]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)

In [28]:
print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

(b) Delete all occurrences of 40

In [ ]:
listA.remove(40)
print(listA)

In [35]:
print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

(c) Delete the value at index=5

In [41]:
del listA[5]

In [42]:
print (listA)

[19, 10, 55, 31, 32, 29, 10, 65, 77]

(d) Modify the value at index=9 as 300

In [43]:
listB = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listB[9] = 300
print (listB)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]

(e) Add 200 at index=2

In [47]:
listB.insert(2,200)
print (listB)

[19, 32, 200, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]

(f) Print the final list with its length, maximum value
and sum of all elements

In [49]:
print(listA)
print(listB)

[19, 10, 55, 31, 32, 29, 10, 65, 77]
[19, 32, 200, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]

In [50]:
print(len(listA))
print(len(listB))

9
14

In [51]:
print(sum(listA))
print(sum(listB))

328
969

Consider a string ”The day has been long”.
(a) Delete the value at index =4

In [55]:
str22 = "The day has been long"
s1 = str22[0:4:]+str22[5::]
print(s1)

The ay has been long

(b) Print the string 4 times in a single line with space
between each repetition

In [56]:
print(str22 *4)

The day has been longThe day has been longThe day has been longThe day has been long

(c) Print the string 3 times in a new line each time

In [58]:
print("The day has been long\n" *4)

The day has been long
The day has been long
The day has been long
The day has been long

(d) Modify the string at index 7 as ’A’

In [59]:
S2=str22[:7]+'A'+str22[7:]
print(S2)

The dayA has been long

(e) Print the string from index 4 to 15

In [60]:
S=str22[4:16]
print(S)

day has been

(f) Print the final string with its length

In [61]:
len(S)

12